{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": true,
	"svelteIndentScriptAndStyle": true,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"pluginSearchDirs": ["."],
	"importOrder": ["^@.*$", "^[./]"]
}
